[flake8]
# black, the super-great auto-formatter has decided that 88 is a good number.
# I'm inclined to agree, or not to dissagree.
max-line-length = 88
exclude =
    packages/*,
    src/mbed_os_tools/test/host_tests/*,
    src/mbed_os_tools/test/host_tests_conn_proxy/*,
    src/mbed_os_tools/test/host_tests_logger/*,
    src/mbed_os_tools/test/host_tests_plugins/*,
    src/mbed_os_tools/test/host_tests_registry/*,
    src/mbed_os_tools/test/host_tests_runner/*,
    src/mbed_os_tools/test/host_tests_toolbox/*,
    src/mbed_os_tools/test/mbed_*.py,
    test/*,
