PySerial>=3.0,<4.0
requests>=2.0,<3.0
intelhex>=2.0,<3.0
future
PrettyTable>=0.7.2
fasteners
appdirs>=1.4,<2.0
junit-xml>=1.0,<2.0
lockfile
six>=1.0,<2.0
colorama>=0.3,<0.5
# When using beautiful soup, the XML parser needs to be installed independently. It is only needed on macOs though.
beautifulsoup4
lxml; sys_platform == 'darwin'
